@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('http://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Frijole');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


html,body{height:100%;}
body{
	background-color: #000000;
	background-image: url('');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;}

*{margin: 0;padding: 0;}

#jpg
{position: relative;width: 100%;display: block;}

.grid
{margin:60px 0px;padding-bottom: 100px;padding-left: 10px;padding-right: 10px;}

#lightbox
{position: fixed;z-index: 1;top: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .8);display: none;}

#lightbox.active
{display: flex;justify-content: center;align-items: center;}

#lightbox img
{max-width: 90%;max-height: 80%;padding: 0px;background-color: black;border: 1px solid white;}

.grid img:hover
{transform:scale(1.1);}

#firma
{display:block;margin:0px auto;text-align:center;width: 60%;height: auto;}

.content
{position: relative;margin: auto;top: -280px;left: 0;right: 0;bottom: 0;}

#logo
{width: 50px;height: 50px;transition: 0.5s;}

.content h1
{font-family: 'Redressed', cursive;font-size: 70px;color: #000;}

.content h2
{font-family: 'Redressed', cursive;font-size: 25px;color: #000;}

.content span
{font-family: 'Redressed', cursive;font-size: 70px;color: #fff;text-shadow: 5px 5px 5px black;}

.content p
{padding: 10px 100px;font-size: 25px;color: #ffffff;font-family: 'Redressed', cursive;}

.content a
{padding: 0px 10px;text-decoration: none;font-size: 25px;color: #00ff00;font-family: 'Redressed', cursive;}

.testo
{position: relative;;margin: auto;top: 300px;left: 0;right: 0;bottom: 0;}

.testo h1
{font-family: 'Verdana';font-size: 15px;color: #4d80b3;}

.testo h2
{font-family: 'Verdana';font-size: 20px;color: #4d80b3;}

.testo ul
{text-align: left;padding: 10px 60px;font-size: 20px;color: #ffffff;font-family: 'Verdana';}

.testo p
{padding: 10px 100px;font-size: 20px;color: #ffffff;font-family: 'Verdana';}

.testo a
{padding: 0px 10px;text-decoration: none;font-size: 25px;color: #00ff00;font-family: 'Verdana';}

.menu
{position: relative;margin: auto;padding-top: 0px;margin:180px 0px;}

.menu a
{text-decoration: none;}

.menu p
{width: 500px;height: 20px;filter: grayscale(100%);transition:0.5s;margin-top: 10px;color:#ffffff;padding:5px;outline: none;border-radius: 1px;font-size: 15px;font-family: 'Verdana';background: #101010;}

.menu p:hover
{filter: grayscale(0);transform:scale(1.1);color: #;}






@media screen and (max-width:700px) {






	.testo
	{position: relative;margin: auto;top: 50px;left: 0;right: 0;bottom: 0;}

	.testo h1
	{font-family: 'Verdana';font-size: 15px;color: #4d80b3;}

	.testo h2
	{font-family: 'Verdana';font-size: 15px;color: #4d80b3;}

	.testo ul
	{text-align: left;padding: 10px 40px;font-size: 15px;color: #ffffff;font-family: 'Verdana';}

	.testo p
	{padding: 10px 20px;font-size: 15px;color: #ffffff;font-family: 'Verdana';}

	.testo a
	{padding: 0px 10px;text-decoration: none;font-size: 25px;color: #00ff00;font-family: 'Verdana';}

 	#firma
	{margin:0px auto;text-align:center;width:60%;height: auto;}

	#logo
	{margin-top: 10px;width: 30px;height: 30px;}

	.menu
	{position: relative;padding-top: 0px;margin:130px 0px;}

	.menu p
	{width: 200px;margin-top: 10px;border:0px solid white;height:20px;border-radius: 1px;font-size: 15px;padding-top: 7px;text-align: center;}

	.grid
	{padding-top: 0px;padding-bottom: 100px;padding-left: 10px;padding-right: 10px;}

	.content
	{padding-left: 10px;padding-right: 10px;margin: auto;top: -20%;left: 0;right: 0;bottom: 0;}

	.content h1
	{font-size: 35px;}

	.content h2
	{font-size: 15px;}

	.content span
	{font-size: 30px;}

	.content p
	{padding: 10px 20px;font-size: 15px;}

	.content a
	{text-decoration: none;font-size: 15px;}

}}
